{{define "title"}}{{end}}
{{define "css"}}{{end}}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title> {{template "title"}} &laquo; Amdin </title>
	<link href="/static/admin.css" rel="stylesheet">
  {{template "css"}}
</head>
<body>
  <div id="header">
		<h1><a href="/admin">Admin</a> &raquo; {{template "title"}}</h1>
  </div>
  <div id="content">
    {{template "content" .}}
  </div>
	<hr/>
  <div id="footer">
		Powered by <a href="http://golang.org">Go</a> language. [<a href="/">Go to Blog</a>]
  </div>
</body>
</html>
