{{define "title"}}Create Post{{end}}

{{define "content"}}
<form action="/admin/post/save" method="post">
	<div class="ed-item">
		<label>Title</label>
		<input class="ed-lineedit" name="title" type="text" maxlength="80"/>
	</div>
	<div class="ed-item">
		<label>PermaLink</label>
		<input class="ed-lineedit" name="permalink" type="text" maxlength="80"/>
	</div>
	<textarea name="content" style="width:790px;height:400px;visibility:hidden;"></textarea>
	<div class="ed-item">
		<label>Category:</label>
		<input id="category" name="category" type="text"/>
		<label>Tags:</label>
		<input id="tags" name="tags" type="text"/>
	</div>
	<div class="ed-item">
	<input type="submit" value="Submit"/>
	</div>
</form>
{{end}}
