{{define "css"}}
<style>
	form {
		margin: 0;
	}
	textarea {
		display: block;
	}
</style>
<script charset="utf-8" src="/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="/editor/lang/zh_CN.js"></script>
<script>
	var editor;
	KindEditor.ready(function(K) {
		// Add html tags
		K.options.htmlTags.code = ['class']
		// Video in HTML5
		K.options.htmlTags.video = ['width', 'height', 'controls']
		K.options.htmlTags.source = ['src', 'type']
		editor = K.create('textarea[name="content"]', {
			allowFileManager : false,
			allowImageUpload : true,
			uploadJson : '/admin/upload',
			cssPath : ['/editor/editor.css'],
		});
	});
</script>
{{end}}
