{{define "title"}}Home{{end}}

{{define "content"}}
<p><a href="/">Go to Blog</a></p>
<p><a href="/admin/post/create">Create New Post</a></p>
<h3>Post List</h3>
<p>
	<table border="1" cellpadding="2">
		<tr>
			<th>Created At</th>
			<th>Title</th>
			<th>Category</th>
			<th>Tags</th>
			<th>Operation</th>
		</tr>
		{{range .Headers}}
		<tr>
			<td>{{.CreatedAt | datefmt}}</td>
			<td><a href="/blog/{{.PermaLink}}">{{.Title}}</a></td>
			<td>{{.Category}}</td>
			<td>{{.Tags}}</td>
			<td>
				<a href="/admin/post/modify/{{.PermaLink}}">Edit</a>
				<a href="/admin/post/delete/{{.PermaLink}}">Delete</a>
			</td>
		</tr>
		{{end}}
	</table>
</p>
<p><a href="/admin/post/clear">Delete All Posts</a> <strong>[WARNING]</strong></p>
<h3>Backup / Restore</h3>
<p>
	<ul>
		<li><a href="/admin/backup/">Backup All Post as ZIP</a></li>
		<li>
		<form action="{{.UpdateURL}}" method="POST" enctype="multipart/form-data">
				<label>Upload Backup:</label>
				<input type="file" name="backup"/>
				<input type="submit" name="submit" value="Submit"/>
		</form>
		</li>
	</ul>
</p>
<h3>Development</h3>
<p>
	<ul>
		<li><a href="/admin/flush">Flush Cache</a></li>
		<li><a href="/admin/savexml">Save All Post to XML</a></li>
		<li><a href="/admin/loadxml">Load All Post from XML</a></li>
		<li><a href="/admin/import">Import from Old Baidu Blog</a></li>
	</ul>
</p>
{{end}}
