{{define "title"}}Modify Post{{end}}

{{define "content"}}
<form action="/admin/post/update" method="post">
	{{with .Header}}
	<div class="ed-item">
		<label>Blog Link</label>
		<a href="/blog/{{.PermaLink}}">{{.Title}}</a>
	</div>
	<div class="ed-item">
		<label>Title</label>
		<input class="ed-lineedit" name="title" type="text" maxlength="80" value="{{.Title}}"/>
	</div>
	<div class="ed-item">
		<label>PermaLink</label>
		<input class="ed-lineedit" name="permalink" type="text" maxlength="80" value="{{.PermaLink}}"/>
	</div>
	<div class="ed-item">
		<label>Created At</label>
		<input class="ed-lineedit" name="createdat" type="text" value="{{.CreatedAt | fulldatefmt}}"/>
	</div>
	{{end}}
	<textarea name="content" style="width:790px;height:400px;visibility:hidden;">{{.Body}}</textarea>
	{{with .Header}}
	<div class="ed-item">
		<label>Category:</label>
		<input id="category" name="category" type="text" value="{{.Category}}"/>
		<label>Tags:</label>
		<input id="tags" name="tags" type="text" value="{{.Tags | slicefmt}}"/>
	</div>
	{{end}}
	<div class="ed-item">
	<input type="submit" value="Submit"/>
	</div>
</form>
{{end}}
