/* common */
.ed-item #category {
    width: 200px;
}

.ed-item #tags {
    width: 400px;
}

.ed-item .ed-lineedit {
    width: 700px;
}

.ed-item label {
    width: 80px;
    text-align: left;
    display: inline-block;
}

.ed-item {
    padding: 3px 0;
}
