{{define "title"}}About Me{{end}}

{{define "content"}}
<div class="post">
    <span class="hang">about</span>
    <h1><a>About Me</a></h1>
    <dl class="about">
        <dt>Name</dt>
        <dd>
        <ul>
            <li>Maxint Lin</li>
            <li>林乃养</li>
        </ul>
        </dd>
        <dt>Location</dt>
        <dd>
        <ul>
            <li>Hangzhou, China</li>
        </ul>
        </dd>
        <dt>Education</dt>
        <dd>
        <ul>
            <li>2005.09 - 2009.06, Zhejiang University, Mathematics, BS, Hangzhou, China</li>
            <li>2009.09 - 2011.06, Zhejiang University, Computer Graphics, MS, Hangzhou, China</li>
        </ul>
        </dd>
    </dl>
</div>
{{end}}
