{{define "title"}}{{end}}
{{define "css_js"}}{{end}}

{{define "blog_name"}}Maxint{{end}}
{{define "blog_description"}}On My Way{{end}}
{{define "blog_username"}}Maxint Lin{{end}}
{{define "blog_hosturl"}}http://www.maxint.tk{{end}}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{template "title" .}} &laquo; {{template "blog_name"}}</title>
		<link href="/atom" rel="alternate" title="{{template "blog_username"}}" type="application/atom+xml">
		<link href="/static/common.css" rel="stylesheet">
		<link href="/static/font-awesome.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		{{template "css_js"}}
		<!--Google Analysis-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37684812-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			$('#side').load('http://localhost:8080/side/');
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><a href="/">{{template "blog_username"}}</a></h1>
				<h2>{{template "blog_description"}}</h2>
			</div>
			<div id="main">

				<!-- Post content -->
				{{template "content" .}}

				<!-- Sperate side (_side.html) from _base for speed up template rendering -->
				<div id="side"></div>
				<script type="text/javascript">
					if ($('#side').html() == '') {
						$('#side').load('/side/');
					}
				</script>

			</div> <!--end of main-->
			<div id="footer">
				<p>Powered by <a href="http://developers.google.com/appengine">Google App Engine</a>, <a href="http://golang.org">Go</a> and <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.</p>
				<p>Designed by <a href="http://hzqtc.github.com">hzqtc (Johnny Huang)</a>.</p>
			</div>
		</div> <!--end of container-->
	</body>
</html>
