{{define "title"}}{{.Data.Header.Title}}{{end}}

{{define "content"}}
	{{with .Data}}
		<div class="post">

			{{template "post" .}}

			{{if $.IsAdmin}}{{template "edit" .}}{{end}}

			<div id="post_neighbours">
				{{with .Previous}}
					<div class="left"><a href="{{.PermaLink}}">&laquo; {{.Title}}</a></div>
				{{end}}
				{{with .Next}}
					<div class="right"><a href="{{.PermaLink}}">{{.Title}} &raquo;</a></div>
				{{end}}
			</div>

			<div id="disqus_thread"></div>

		</div>

		<!--Load Disqus Comment-->
		{{with .Header}}
		<script type="text/javascript">
			var disqus_shortname = 'maxint'; // Required - Replace example with your forum shortname
			var disqus_identifier = '/{{.PermaLink}}'; //'a unique identifier for each page where Disqus is present';
			var disqus_title = '{{.Title}}'; //'a unique title for each page where Disqus is present';
			var disqus_url = '{{template "blog_hosturl"}}/blog/{{.PermaLink}}'; //'a unique URL for each page where Disqus is present';
			//var disqus_developer = 1; // or 1 based on if you're looking to skip URL authentication
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function () {
				var s = document.createElement('script'); s.async = true;
				s.type = 'text/javascript';
				s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
		{{end}}

	{{end}}
{{end}}
