{{define "title"}}{{.Data.Title}}{{end}}

{{define "content"}}
{{with .Data}}
{{if .Posts}}
<div id="postlist">
	{{range .Posts}}
	<div class="post">

		{{template "post" .}}

		{{with .Header}}
		<p class="meta"><a href="/blog/{{.PermaLink}}">More...</a></p>
		{{end}}
		{{if $.IsAdmin}}{{template "edit" .}}{{end}}
	</div>
	{{end}}

	{{if $name := .UrlPath}}
	<div id="pagination">
		<ul class="pages">
			<li>
			{{if .Previous}}
			<a href="/{{$name}}?page={{.Previous}}">Previous</a>
			{{else}}
			&laquo; Previous
			{{end}}
			</li>

			{{range .PagesBefore}}
			<li><a href="/{{$name}}?page={{.}}">{{.}}</a></li>
			{{end}}
			<li class="current-page">{{.CurrentPage}}</li>
			{{range .PagesAfter}}
			<li><a href="/{{$name}}?page={{.}}">{{.}}</a></li>
			{{end}}

			<li>
			{{if .Next}}
			<a href="/{{$name}}?page={{.Next}}">Next &raquo;</a>
			{{else}}
			Next &raquo;
			{{end}}
			</li>
		</ul>
	</div>
	{{end}}
</div>
{{end}}
{{end}}
{{end}}
