{{define "css_js"}}
<script src="/static/highlight.pack.js" type="text/javascript"></script>
<link href="/static/highlight.css" rel="stylesheet">
<script>hljs.initHighlightingOnLoad();</script>
{{end}}

{{define "post"}}
	{{with .Header}}
	<h1><a href="/blog/{{.PermaLink}}">{{.Title}}</a></h1>
	<span class="hang">{{.CreatedAt | datefmt}}</span>
	<p class="meta">
	Category: <a href="/category/{{.Category}}">{{.Category}}</a>.
	{{if .Tags}}
	Tags: {{range $i, $v := .Tags}}{{if $i}}, {{end}}<a href="/tag/{{$v}}">{{$v}}</a>{{end}}.
	{{end}}
	</p>
	{{end}}

	{{.HTML}}
{{end}}


{{define "edit"}}
	<p class="meta">
		<a href="/admin/post/modify/{{.Header.PermaLink}}"><span class="icon-edit"></span> Edit</a> 
	</p>
{{end}}
