<!-- Sperate side from main base (_base.html) for speed up template rendering -->
{{with .}}
<h1>links</h1>
<ul id="links">
	<li><a href="/about"><span class="icon-user"></span>About Me</a></li>
	<li><a href="/atom"><span class="icon-rss"></span>Atom Feed</a></li>
	<li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6c%6e&#121;&#99;%68%69%6e&#97;%40%67&#109;%61%69%6c&#46;&#99;%6f%6d"><span class="icon-envelope-alt"></span>Email</a></li>
	<li><a href="http://github.com/maxint/"><span class="icon-github"></span>Github</a></li>
	<li><a href="http://bitbucket.org/maxint/"><span class="icon-cloud"></span>Bitbucket</a></li>
	<li><a href="http://weibo.com/maxint/"><span class="icon-twitter"></span>Sina Weibo</a></li>
	{{if .IsAdmin}}
	<li><a href="/admin"><span class="icon-cogs"></span>Admin</a></li>
	{{end}}
</ul>
<h1>archives</h1>
<ul id="archivelist">
	{{range .Archives}}
	<li><a href="/archive/{{.LinkName}}"><span class="icon-hdd"></span>{{.DisplayName}} ({{.Count}})</a></li>
	{{end}}
</ul>
<h1>categories</h1>
<ul id="categorylist">
	{{range $k, $v := .Categories}}
	<li><a href="/category/{{$k}}"><span class="icon-folder-close"></span>{{$k}} ({{$v}})</a></li>
	{{end}}
</ul>
<h1>tags</h1>
<ul id="taglist">
	{{range $k, $v := .Tags}}
	<li><a href="/tag/{{$k}}"><span class="icon-tag"></span>{{$k}} ({{$v}})</a></li>
	{{end}}
</ul>
{{end}}
